.m-form-login {

    &__input{
      border-bottom: 1px solid black;
    display: flex;
    align-items: center;  
    }
    

    &__container {
        width: 100%;
        padding: 12px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        p {
            font-size: 28px;
            text-align: center;
            font-weight: bold;
            color: #FE871F;
            margin: 0;
        }
    }

    &__button {
        margin-top: 24px;
        position: relative;
        display: flex;
        justify-content: center;
    }
}


@media screen and (min-width:1280px) {
    .m-form-login {
        border-bottom: 1px solid black;
        display: flex;
        align-items: center;

        &__container {
            width: 80%;
            padding: 12px;
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

    }

}