.app__container {
  display: flex;
  justify-content: center;
  height: 100dvh;
  width: 100dvw;
}
@media screen and (min-width: 678px) {
  .app__main {
    width: 80%;
    background-color:white;
  }
}
@media screen and (max-width: 678px) {
  .app__main {
    width: 100%;
    background-color:white;
  }
}
